body {
  overflow-x: hidden;
  width: 100%;
  /*padding-top: 50px;*/
  /*padding-bottom: 10%;*/
}

h1 {
  /*font-size: 3rem;*/
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  height: 100%;
  padding-bottom: 50vh;
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #111;
  /*padding: 3rem;*/
  /*height: 20vh;*/
}

#footer #copyright {
  color: #555;
}

#footer img {
  height: 60px;
}

#footer a {
  color: #CCC;
  transition: all ease-out 0.1s;
}

#footer a:hover {
  text-decoration: none;
  font-size: 1.05rem; 
  color: #FFF;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar .nav-link {
  font-size: 1rem;
}
.navbar.custom-bg {
  background: #111;
}

.navbar .navbar-brand {
  font-size: 1rem;
  opacity: 0.85;
  transition: all ease-out 0.1s;
}

.navbar .navbar-brand:hover {
  opacity: 1;
  font-size: 1.01rem;
}

.navbar #navbar-logo {
  height: 50px;
}

#hero-logo {
  max-height: 10vh;
}

#hero-inquiry {
  font-size: 1.5rem;
}

#hero-brand h3 a {
  color: #DDD;
  transition: all ease-out 0.1s;
}

#hero-brand h3 a:hover {
  color: #FFF;
  text-decoration: none;
}

.hero-hr {
  max-width: 40vw;
  border-color: rgba(255, 255, 255, 0.2);
}

button, a {
  cursor: pointer;
}

#header .jumbotron {
  border-radius: 0px;
  color: #FFF;
  background: url('../img/hero-img/hero-bg-1.png');
  background-position: center;
  background-size: cover;
}
#why-choose-us h1, #work-neighborhood h1 {
  margin-bottom: 5vh;
}

#choose-us-reasons p {
  font-size: 1.5em;
  line-height: 150%;
}

#most-popular {
  background: #111;
  padding-top: 4vh;
}

#most-popular .card {
  margin-top: 5vh;
  margin-bottom: 6vh;
  text-align: center;
}

#hero-var-name {
  word-wrap: break-word;
}

#work-neighborhood {
  padding-top: 4vh;
}
